.btn {
  text-align: center;
  margin-top: 20px;
  padding: 20px 40px;
  background-color: var(--foreground);
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: transparent 2px solid;
  cursor: pointer;
  &:hover {
    border: 2px solid;
    background-color: #fff;
    color: var(--foreground);
    font-weight: 600;
  }
}