.portfolio {
  .section {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
  .header {
    width: 40%;
    text-align: justify;
  }

  .container {
    width: 40%;
    position: relative;
  }
  .container img {
    position: absolute;
    left: 0;
    width: 80%;
    transition: 0.5s;
    border-radius: 7px;
  }

  .container:hover img:nth-child(1) {
    transform: translate(80px, -80px);
    opacity: 0.4;
  }
  .container:hover img:nth-child(2) {
    transform: translate(60px, -60px);
    opacity: 0.6;
  }
  .container:hover img:nth-child(3) {
    transform: translate(40px, -40px);
    opacity: 0.8;
  }
  .container:hover img:nth-child(4) {
    transform: translate(20px, -20px);
    opacity: 1;
  }
  .container img:nth-child(4) {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio {
    .section {
      flex-direction: column;
    }
    .container {
      width: 100%;
    }

    .container img {
      position: relative;
    }

    .container img:nth-child(1),
    .container img:nth-child(2),
    .container img:nth-child(3) {
      display: none;
    }

    .container img:nth-child(4) {
      border-radius: 7px;
      margin-top: 30px;
      height: auto;
    }

    .header {
      width: 100%;
      h1 {
        font-size: 50px;
      }
    }
  }
}
