.projet {
  display: flex;
  padding: 2rem;

  .flexCol {
    display: flex;
    flex-direction: column;
  }
  .flexRow {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
  }

  .stacksContainer {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
  }

  .image {
    width: 50%;
    height: fit-content;
  }

  .description {
    width: 90%;
    p {
      margin: 20px 0;
      text-align: justify;
    }
  }
  .arrow {
    width: 5%;
    position: absolute;
    top: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
    transform-origin: center;
    color: var(--tertiary-color);
    &:hover {
      transform: scale(1.2); /* Agrandit l'icône à 120% de sa taille initiale */
    }
  }

  .arrowLeft {
    left: 20px;
    position: fixed;
  }

  .arrowRight {
    right: 20px;
    position: fixed;
  }
}

@media only screen and (max-width: 1040px) {
  .projet {
    .flexRow {
      flex-direction: column;
      padding: 0 25px;
      h1 {
        font-size: 50px;
      }
    }

    .description {
      text-align: justify;
    }

    .stacksContainer {
      flex: 1;
    }

    .image {
      width: 100%;
    }
    .btn {
      width: 100%;
      margin-bottom: 40px;
    }
    .arrow {
      width: 10%;
    }
    .arrowLeft {
      left: 5px;
    }
    .arrowRight {
      right: 5px;
    }
  }
}
